In [45]:
import nsfg

In [47]:
df = nsfg.ReadFemPreg()

In [41]:
df.all()

caseid              True
pregordr            True
howpreg_n          False
howpreg_p           True
moscurrp           False
nowprgdk            True
pregend1            True
pregend2            True
nbrnaliv            True
multbrth            True
cmotpreg            True
prgoutcome          True
cmprgend            True
flgdkmo1           False
cmprgbeg            True
ageatend            True
hpageend            True
gestasun_m         False
gestasun_w         False
wksgest            False
mosgest            False
dk1gest             True
dk2gest             True
dk3gest             True
bpa_bdscheck1      False
bpa_bdscheck2      False
bpa_bdscheck3      False
babysex             True
birthwgt_lb        False
birthwgt_oz        False
                   ...
bfeedwks_i         False
maternlv_i         False
oldwantr_i         False
oldwantp_i         False
wantresp_i         False
wantpart_i         False
ager_i             False
fmarital_i         False
rmarital_i         False
educat_i           False
hieduc_i           False
race_i             False
hispanic_i         False
hisprace_i         False
rcurpreg_i         False
pregnum_i          False
parity_i           False
insuranc_i         False
pubassis_i         False
poverty_i          False
laborfor_i         False
religion_i         False
metro_i            False
basewgt             True
adj_mod_basewgt     True
finalwgt            True
secu_p              True
sest                True
cmintvw             True
totalwgt_lb         True
Length: 244, dtype: bool

In [42]:
df.columns

Index(['caseid', 'pregordr', 'howpreg_n', 'howpreg_p', 'moscurrp', 'nowprgdk',
       'pregend1', 'pregend2', 'nbrnaliv', 'multbrth',
       ...
       'laborfor_i', 'religion_i', 'metro_i', 'basewgt', 'adj_mod_basewgt',
       'finalwgt', 'secu_p', 'sest', 'cmintvw', 'totalwgt_lb'],
      dtype='object', length=244)

In [6]:
df.columns[1]

'pregordr'

In [20]:
df['pregordr'].head()

0    1
1    2
2    1
3    2
4    3
Name: pregordr, dtype: int64

In [19]:
df['outcome'].head()

0    1
1    1
2    1
3    1
4    1
Name: outcome, dtype: int64

In [7]:
pregordr = df['pregordr']
type(pregordr)

pandas.core.series.Series

In [8]:
pregordr

0        1
1        2
2        1
3        2
4        3
5        1
6        2
7        3
8        1
9        2
10       1
11       1
12       2
13       3
14       1
15       2
16       3
17       1
18       2
19       1
20       2
21       1
22       2
23       1
24       2
25       3
26       1
27       1
28       2
29       3
        ..
13563    2
13564    3
13565    1
13566    1
13567    1
13568    2
13569    1
13570    2
13571    3
13572    4
13573    1
13574    2
13575    1
13576    1
13577    2
13578    1
13579    2
13580    1
13581    2
13582    3
13583    1
13584    2
13585    1
13586    2
13587    3
13588    1
13589    2
13590    3
13591    4
13592    5
Name: pregordr, Length: 13593, dtype: int64

In [9]:
pregordr[0]

1

In [10]:
pregordr[2:5]

2    1
3    2
4    3
Name: pregordr, dtype: int64

In [12]:
pregordr = df.pregordr
pregordr.head()

0    1
1    2
2    1
3    2
4    3
Name: pregordr, dtype: int64

In [21]:
import numpy as np

In [22]:
np.nan / 100.0

nan

In [24]:
df.outcome.value_counts().sort_index()

1    9148
2    1862
3     120
4    1921
5     190
6     352
Name: outcome, dtype: int64

In [26]:
df['outcome'].head()

0    1
1    1
2    1
3    1
4    1
Name: outcome, dtype: int64

In [32]:
df.birthwgt_lb.value_counts(sort=False)

8.0     1889
7.0     3049
6.0     2223
4.0      229
5.0      697
10.0     132
12.0      10
14.0       3
3.0       98
1.0       40
2.0       53
0.0        8
9.0      623
11.0      26
13.0       3
15.0       1
Name: birthwgt_lb, dtype: int64

In [49]:
preg = nsfg.ReadFemPreg()
preg.head()

,caseid,pregordr,howpreg_n,howpreg_p,moscurrp,nowprgdk,pregend1,pregend2,nbrnaliv,multbrth,...,laborfor_i,religion_i,metro_i,basewgt,adj_mod_basewgt,finalwgt,secu_p,sest,cmintvw,totalwgt_lb
0,1,1,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,3410.389399,3869.349602,6448.271112,2,9,NaN,8.8125
1,1,2,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,3410.389399,3869.349602,6448.271112,2,9,NaN,7.8750
2,2,1,NaN,NaN,NaN,NaN,5.0,NaN,3.0,5.0,...,0,0,0,7226.301740,8567.549110,12999.542264,2,12,NaN,9.1250
3,2,2,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,7226.301740,8567.549110,12999.542264,2,12,NaN,7.0000
4,2,3,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,7226.301740,8567.549110,12999.542264,2,12,NaN,6.1875